---
colorActive: '#9036a1'
colorActiveHover: '#c734e3'
colorLight: '#AAA'
textShadow: 'text-shadow: 0 1px 1px #000;'
textHighlight: 'text-shadow: 0 1px 1px #FFF;'
---

/** ** ** GENERAL ** ** **/
body { font-family: 'Arvo', sans-serif; background: url('/res/images/content_bg.png'); }
pre, code { font-family: 'Ubuntu Mono', monospace; }
a, a:active { color: {{ page.colorActive }}; text-decoration: none; }
a:hover { color: {{ page.colorActiveHover }}; }
ul, li {list-style-position: inside;}
.hidden {display:none;}
html, body { height: 100% }

/** ** ** HEADER ** ** **/
body > header
{
	background: url('/res/images/head_bg.png');
	height: 175px;
	margin-bottom: 50px;
}

body > header > hgroup > h1 > a { display: block; height: 175px; width: 175px; background: url('/res/images/head_logo.png'); }
body > header > hgroup > h1 > a > span { display: none; }
body > header > hgroup > h2 { display: none; }

/** ** ** CONTENT ** ** **/

#content > h1, footer .copy
{
	font-family: 'Condiment', sans-serif;
	text-align: right;
	font-size: 4em;
}

#content > article > h1
{
	font-size: 3em;
	background: url('/res/images/square.png') left center no-repeat;
	padding-left: 45px;
}
#content > article > h1 > a { color: black; }
#content > article > h1 > a:hover { color: {{ page.colorActiveHover }}; }

#content > article {text-align: justify;}
#content > article img {max-width: 100%; box-shadow: 0 2px 8px rgba(0,0,0,0.5);  border: 2px solid white; display: block; margin: 1em auto; background-color: white;}

#content > article ul.rundown {list-style: square; font-style: italic; padding-left: 0;}

/** ** ** FOOTER ** ** **/

footer
{
	border-top: 5px solid black;
	box-shadow: 0 -2px 0 {{page.colorActive}};
	margin-top: 3em !important;
}

footer .copyright
{
	background: url('/res/images/square.png') left center no-repeat;
	padding-left: 45px;
	line-height: 6em;
}
