<section class="articleContent">
	<article>
		{% if article.title != null %}
		<header>
			{% if false && article.date %}<time datetime="{{ article.date | date: "%Y-%m-%d" }}" pubdate>{{ article.date | date_to_string }}</time>{% endif %}
			{% if article.date %}<p class="calendar"><span class="calendarYear">{{ article.date | date: "%Y" }}</span><span class="calendarMonth">{{ article.date | date: "%b" }}</span><span class="calendarDay">{{ article.date | date: "%d" }}</span></p>{% endif %}
			<h1><a href="{{ article.url }}" rel="bookmark" title="link to this post">{{ article.title }}</a></h1>
		</header>
		{% endif %}
		<div>
			{% if page.type == 'blog-post' %}
			{{ articleContent }}
			{% else %}
			{% if article.excerpt %}
			{{ article.excerpt }}
			{% else %}
			{{ article.content | truncatewords : site.blogPostExcerptLength }}
			{% endif %}
			{% endif %}
		</div>
		
		<footer class="articleFooter">
			{% if article.categories && article.categories.size > 0 %}
			<nav class="articleCategories">
				<h3>Categories</h3>
				<ul>
				{% for category in article.categories %}
					<li>{{ category.first }}</li>
				{% endfor %}
				</ul>
			</nav>
			{% endif %}
			{% if article.tags && article.tags.size > 0 %}
			<nav class="articleTags">
				<h3>Tags</h3>
				<ul>
				{% for tag in article.tags %}
					<li>{{ tag.first }}</li>
				{% endfor %}
				</ul>
			</nav>
			{% endif %}
			{% if page.type == 'blog-post' %}
			<div id="disqus_thread"></div>
			<script type="text/javascript">
			    var disqus_shortname = 'mpdeimos';

			    var disqus_identifier = '{{ article.url }}';
			    var disqus_url ='http://mpdeimos.com{{ article.url }}';
			    //var disqus_developer = 1;

			    (function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			    })();
			</script>
			{% endif %}
		</footer>
	</article>
</section>
