{% for post in portfolio_posts %}
{% if post.feature == true %}

<article class="span-20">
	<h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
	<p>{{ post.excerpt }}</p>
</article>

{% endif %}
{% endfor %}

{% for post in portfolio_posts %}
{% if post.feature != true %}

<article class="span-9 {% cycle 'append-2', 'last' %}">
	<h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
	<p>{{ post.excerpt }}</p>
</article>

{% endif %}
{% endfor %}
