

{% for post in portfolio_posts %}
{% if post.feature == true %}

<div class="span-20">
	<h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
	<p>{{ post.excerpt }}</p>
</div>

{% endif %}
{% endfor %}

<ul id="portfolio_tiles" class="tiles">
{% for post in portfolio_posts %}
{% if post.feature != true %}

<li>
	<h2><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
	<a href="{{ post.url }}" title="{{ post.title }}"><img src="/res/img{{ post.id }}_thumb.png" alt="{{ post.title }}"/></a>
	<p>{{ post.excerpt }}</p>
</li>

{% endif %}
{% endfor %}
</ul>

<script src="/res/js/masonry.pkgd.min.js">
</script>
<script>
var msnry = new Masonry( '#portfolio_tiles', {
  gutter: 90
});
</script>
