a
    &:hover
        color: $hover-color

.site-footer
    .social-icon
        display: inline-flex
        flex-direction: column
        justify-content: center
        height: 32px
        width: 32px
        padding: 0
        margin: 0 4px
        border-radius: 16px
        font-size: 10px
        color: white
        background-color: $accent-color

        &:hover
            background-color: $hover-color
            border-color: $hover-color

        svg
            margin: 0 auto