<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% if page.title != null %}{{ page.title }} | {% endif %}mpdeimos.com</title>
	<link rel="stylesheet" href="/res/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/res/css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
	  <link rel="stylesheet" href="/res/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Condiment|Ubuntu+Mono|Arvo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/res/css/screen.css"/>
</head>
<body {% if page.style %}class="{{page.style | join : ' '}}"{% endif %}>
	<header>
		<hgroup class="container">
			<h1><a href="/" rel="bookmark" title="link to mpdeimos.com"><span>mpdeimos.com</span></a></h1>
			{% if page.title != null %}<h2>{{ page.title }}</h2>{% endif %}
		</hgroup>
	</header>

	<div class="container" id="content">
		{{ content }}
	</div>

	<footer class="container">
		<span class="copy clear span-3 first append-1">&copy;</span>
		<span class="copyright span-18 last">Copyright 2013 &mdash;<a href="/" rel="bookmark" title="link to mpdeimos.com"> mpdeimos.com</a></span>
	</footer>
</body>
</html>
