<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% if page.title != null %}{{ page.title }} | {% endif %}mpdeimos.com</title>
	<link rel="stylesheet" href="/res/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/res/css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
	  <link rel="stylesheet" href="/res/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Condiment|Ubuntu+Mono|Arvo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/res/css/screen.css"/>
</head>
<body {% if page.style %}class="{{page.style | join : ' '}}"{% endif %}>
	<header>
		<hgroup class="container">
			<h1><a href="/" rel="bookmark" title="link to mpdeimos.com"><span>mpdeimos.com</span></a></h1>
			{% if page.title != null %}<h2>{{ page.title }}</h2>{% endif %}
		</hgroup>
		<!--nav id="siteNavigation">
			<ul>
				<li><a href="/" title="Home">Home</a></li>
				<li><a href="/blog" title="Blog">Blog</a></li>
				<li><a href="/contact" title="Contact">Contact</a></li>
			</ul>
		</nav-->
	</header>

	<section class="container" id="content">
		{{ content }}
	</section>

	<footer class="container">
		<p>Copyright &copy; 2013 <a href="/" rel="bookmark" title="link to mpdeimos.com">mpdeimos.com</a></p>
	</footer>
</body>
</html>
