<!DOCTYPE html>
<html lang="en">

<head>
<title>{% if page.title != null %}{{ page.title }} | {% endif %}mpdeimos.com</title>
<!--[if lt IE 9]><script src="/res/js/ie.js"> </script><![endif]-->
<link rel="stylesheet" href="/res/css/reset.js"/>
</head>

<body>
<header>
	<hgroug>
		<h1><a href="/" rel="bookmark" title="link to mpdeimos.com">mpdeimos.com</a></h1>
		<h2>Welcome to my wip GitHub Page</h2>
	</hgroup>
	<nav>
		<ul>
			<li><a href="/" title="Home">Home</a></li>
			<li><a href="/blog" title="Blog">Blog</a></li>
			<li><a href="/contact" title="Contact">Contact</a></li>
		<ul>
	</nav>
</header>

<article>
	{% if page.title != null %}
	<header>
		<h1><a href="#" rel="bookmark" title="link to this post">{{ page.title }}</a></h1>
	</header>
	{% endif %}
	<p>
		{{ content }}
	</p>
</article>

<footer>
<p>Copyright &copy; 2011 <a href="/" rel="bookmark" title="link to mpdeimos.com">mpdeimos.com</a></p>
</footer>
</body>
</html>
