---
layout: default
---

<div class="span-14 append-1">
	<img src="/res/img{{ page.id }}_full.png" alt="{{ page.title }}">
</div>

<div class="span-5 last rundown">
	{% if page.company != null %}
	<h3>Who?</h3>
	<ul>
		<li><a href="/work/{{ page.company | downcase }}" title="{{ page.company }}">{{ page.company }}</a></li>
	</ul>
	{% endif %}
	
	{% if page.period != null %}
	<h3>When?</h3>
	<ul>
	{% for period in page.period %}
		{% if period.at != null %}
		<li>{{ period.at }}</li>
		{% else %}
		<li>{{ period.from }}<br/>— {{ period.till }}</li>
		{% endif %}
	{% endfor %}
	</ul>
	{% endif %}
	
	{% if page.skills != null %}
	<h3>What?</h3>
	<ul>
	{% for skill in page.skills %}
		<li>{{ skill }}</li>
	{% endfor %}
	</ul>
	{% endif %}
</div>

<hr class="clear prepend-top space"/>

<div>

{{ content }}

</div>
